

transformers
datasets
evaluate
torch --index-url https://download.pytorch.org/whl/cu118
torchvision 
torchaudio
tqdm
scikit-learn
sacrebleu
rouge_score
optuna
nltk
accelerate
sentencepiece
protobuf
